/* Footer styles */

.footer {
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.feedback-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px 7px;
    background-color: #333;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    line-height: 1;
}

.feedback-button:hover {
    background-color: #444;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.feedback-button i {
    font-size: 1.2em;
    margin-top: -1px;
}

.feedback-button span {
    margin-top: -3px;
}

.copyright {
    text-align: center;
    font-size: smaller;
    font-weight: 400;
    color: #e0e0e065;
    margin-bottom: 0;
    margin-top: 10px;
}

.copyright a {
    color: #e0e0e065;
    text-decoration: none;
}

.copyright a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}
