/* Layout styles - Structural layout styles (flex, containers, grids) */
.content {
    flex: 1;
}

.player-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}

.team {
    flex: 1 1 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 0 20px;
}

.table-container {
    width: 50%;
    overflow: hidden;
    background-color: #333333;
    border-radius: 8px;
    padding: 15px 25%;
    min-width: 275px;
    height: fit-content;
}

.swiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}