/* Responsive design - Media queries for responsive design */
@media (max-width: 789px) {
    .skill-entry {
        width: calc(50% - 10px);
    }
}

@media (max-width: 552px) {
    .skill-entry {
        width: 100%;
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .team {
        flex: 1 1 45%;
    }
}

@media (max-width: 830px) {
    .content-container {
        flex-direction: column;
    }

    .bar-chart-container, .chart-container, .swiper {
        width: 95%;
        margin-bottom: 20px;
    }

    .table-container {
        width: 90%;
        padding: 18px;
    }
}