html, body {
    height: 97%;
}

body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-weight: 500;
}

p {
    font-weight: 500;
}

a.logout-link {
    color: #ff7158;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 110px;
}

a.logout-link:hover {
    color: #c5413d;
}

.logout-link i {
    margin-right: 5px;
    margin-top: 2px;
}

.player-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.player-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    padding-bottom: 6px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2b2b2b;
    position: relative;
}

.player-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-header input[type="text"] {
    flex: 1;
    padding: 8px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
    font-size: initial;
    position: absolute;
    left: 140px;
    width: calc(100% - 227px);
}

.player-header input[type="text"][readonly] {
    background-color: #444; 
    cursor: not-allowed;
}

.player-header input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.player-score {
    font-size: 16px;
    margin-top: 5px;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.toggle-details {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    padding: 5px;
    right: 33px;
}

.details-container {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.skill-entry {
    display: flex;
    align-items: center;
    width: calc(33.33% - 10px);
    /* Para 3 columnas en pantallas grandes */
}

.skill-entry label {
    font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
    width: 100px;
}

.star-rating {
    display: flex;
    gap: 0px 6px;
}

.star {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.star:hover,
.star.hover {
    color: gold;
}

.skill-entry input {
    flex: 1;
    padding: 5px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 789px) {
    .skill-entry {
        width: calc(50% - 10px);
        /* 2 columnas en tablets */
    }
}

@media (max-width: 552px) {
    .skill-entry {
        width: 100%;
        margin-right: 10px;
        /* 1 columna en móviles */
    }
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #cbcbcb;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 6px;
    padding: 2px;
}

.delete-button:hover {
    color: #e44e41;
}

.reset-button {
    background-color: #9f1f14;
}

.reset-button:hover {
    background-color: #901308;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}

.team {
    flex: 1 1 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding-bottom: 0;
}

@media(min-width: 768px) {
    .team {
        flex: 1 1 45%;
    }
}

input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #e0e0e0;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #2b2b2b;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;           
    justify-content: center; 
    gap: 10px;               
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 0 20px;
}

.table-container {
    width: 50%;
    overflow: hidden;
    background-color: #333333;
    border-radius: 8px;
    padding: 15px 25%;
    min-width: 275px;
    height: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    border: 1px solid #4a4a4a;
}

th {
    background-color: #4a4a4a;
    font-weight: 600;
}

tr:last-child {
    font-weight: 600;
}

.chart-container, .bar-chart-container {
    height: 400px;
    background-color: #333333;
    border-radius: 8px;
    padding: 15px;
    width: 100%; /* Ajustar al ancho del slide */
    max-width: 100%;
}

@media (max-width: 830px) {
    .content-container {
        flex-direction: column;
    }

    .bar-chart-container, .chart-container, .swiper {
        width: 95%;
        margin-bottom: 20px;
    }

    .table-container {
        width: 90%;
        padding: 18px;
    }
}

.swiper {
    width: 100%;
    overflow: hidden; /* Evitar que los bordes de los slides se vean */
}

.swiper-slide {
    overflow: hidden; /* Ocultar contenido que se desborde */
    width: 100%; /* Asegurar que el ancho de cada slide sea completo */
    display: flex; /* Para centrar el contenido */
    justify-content: center;
    align-items: center;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333d0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: inline-block;
    z-index: 1;
}

.badge {
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: #444;
    color: #e0e0e0;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
}

#selected-players-list {
    display: none;
    position: absolute;
    bottom: 50px;
    right: -10px;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#selected-players-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#selected-players-ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    background-color: #2b2b2bcc;
}

#selected-players-ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0;
}

#selected-players-ul li span {
    flex-grow: 1;
    text-align: left;
    padding-right: 10px;
}

#scroll-button {
    position: fixed;
    bottom: 20px;
    right: 65px;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: #cbcbcb;
}

#scroll-button:hover {
    background-color: #555;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-box {
    position: relative;
    flex: 1;
}

#searchInput {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.sort-button {
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.sort-button:hover {
    background-color: #444;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

.spinner {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 0.8s linear infinite;
    margin-left: 8px;
    margin-right: -8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.player-name {
    flex-grow: 1;
    padding-left: 20px;
}

.swap-button {
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    font-size: smaller;
    font-weight: 400;
    color: #e0e0e065;
    margin-bottom: 0;
    margin-top: 10px;
}

.copyright a {
    color: #e0e0e065;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-link {
    color: #e0e0e0;
    padding: 5px;
    font-size: 20px;
}

.footer {
    padding: 20px 0;
}

.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 450px;
    background-color: #2b2b2b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: larger;
}

.popup-content {
    position: relative;
}

/* Ajustar el tamaño de las flechas del Swiper */
.swiper-button-prev, .swiper-button-next {
    --swiper-navigation-size: 30px;
    --swiper-navigation-sides-offset: 2px;
    --swiper-navigation-color: #e0e0e0b5;
}
