body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

a.logout-link {
    color: #ff7158; /* Color del enlace */
    text-decoration: none; /* Quitar subrayado */
    margin-top: 10px; /* Espacio arriba */
    margin-left: 10px; /* Espacio a la izquierda */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    transition: color 0.3s ease; /* Transición suave del color */
}

a.logout-link:hover {
    color: #c5413d;
}

.player-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.player-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2b2b2b;
    position: relative;
}

.player-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-header label {
    font-weight: normal;
}

.player-header input[type="text"] {
    flex: 1;
    padding: 8px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
    font-size: initial;
    margin-right: 5px;
    max-width: calc(100% - 180px);
}

.player-header input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.player-score {
    font-size: 16px;
    margin-top: 5px;
}

.toggle-details {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -10px;
}

.toggle-details:hover {
    background-color: #555;
}

.details-container {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Contenedor de habilidades */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

/* Estilo para cada entrada de habilidad */
.skill-entry {
    display: flex;
    align-items: center;
    width: calc(33.33% - 10px); /* Para 3 columnas en pantallas grandes */
}

.skill-entry label {
    font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
    width: 100px;
}

.skill-entry input {
    flex: 1;
    padding: 5px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 768px) {
    .skill-entry {
        width: calc(50% - 10px); /* 2 columnas en tablets */
    }
}

@media (max-width: 480px) {
    .skill-entry {
        width: 100%;
        margin-right: 10px; /* 1 columna en móviles */
    }
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #cbcbcb;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 9px;
    right: 0px;
}

.delete-button:hover {
    color: #e44e41;
}

.reset-button {
    background-color: #9f1f14;
}

.reset-button:hover {
    background-color: #901308;
}

.table-container {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.team {
    flex: 1 1 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 0;
    border-radius: 5px;
    box-sizing: border-box;
}

@media(min-width: 768px) {
    .team {
        flex: 1 1 45%;
    }
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #2b2b2b;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2b2b2b;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333d0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
}

#selected-players-list {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#floating-button:hover #selected-players-list{
    display: block;
    padding: 5px 10px;
}

#selected-players-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#selected-players-ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    background-color: #2b2b2bcc;
}

#selected-players-ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0;
}

#selected-players-ul li span {
    flex-grow: 1;
    text-align: left;
    padding-right: 10px;
}

#scroll-button {
    position: fixed;
    bottom: 20px;
    right: 200px;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: #000000d9;
}

#scroll-button:hover {
    background-color: #555;
}

.share-button {
    margin-left: 20px;
}