<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formación de Jugadores</title>
  <link rel="stylesheet" href="/static/css/formations.css">
</head>
<body>
    <div id="soccer-field" class="soccer-field">
        <div class="goal-area top"></div>
        <div class="penalty-area top"></div>
        <div class="penalty-semicircle top"></div>
        <div class="center-circle"></div>
        <div class="center-line"></div>
        <div class="penalty-semicircle bottom"></div>
        <div class="penalty-area bottom"></div>
        <div class="goal-area bottom"></div>
    </div>
    <script src="static/js/formations.js"></script>
</body>
</html>