<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Armar Equipos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon-v1.0/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-v1.0/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-v1.0/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon-v1.0/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/static/css/styles-v1.0.1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="/static/js/script-v1.0.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="content">
    <h1>Armar Equipos</h1>

    <div class="search-container">
        <input type="search" id="searchInput" placeholder="Buscar jugador..." oninput="filterPlayers()">
        <i class="fas fa-search search-icon"></i>
    </div>

    <form action="/submit" method="post" onsubmit="return validateForm(event)">
        <div id="players-container" class="player-container">
            {% for player in players %}
            <div class="player-entry">
                <div class="player-header">
                    <input type="checkbox" name="selectedPlayers" value="{{ player.id }}">
                    <label>Jugador {{ loop.index }}:</label>
                    <input type="text" name="names" value="{{ player.name }}" onclick="toggleDetails(this)" required readonly>
                    <button class="toggle-details" type="button" onclick="toggleDetails(this)">
                        <i class="fa-solid fa-angle-down toggle-icon"></i>
                    </button>
                    <button class="delete-button" type="button" onclick="deletePlayer('{{ player.id }}')">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
                <div class="details-container" style="max-height: 0px;">
                    <div class="skills-container">
                        <div class="skill-entry">
                            <label>Velocidad:</label>
                            <div class="star-rating" data-skill="velocidad">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="velocidad" value="{{ player.velocidad }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Resistencia:</label>
                            <div class="star-rating" data-skill="resistencia">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="resistencia" value="{{ player.resistencia }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Control:</label>
                            <div class="star-rating" data-skill="control">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="control" value="{{ player.control }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Pases:</label>
                            <div class="star-rating" data-skill="pases">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="pases" value="{{ player.pases }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Tiro:</label>
                            <div class="star-rating" data-skill="tiro">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="tiro" value="{{ player.tiro }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Defensa:</label>
                            <div class="star-rating" data-skill="defensa">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="defensa" value="{{ player.defensa }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Hab. arquero:</label>
                            <div class="star-rating" data-skill="habilidad_arquero">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="habilidad_arquero" value="{{ player.habilidad_arquero }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Fuerza cuerpo:</label>
                            <div class="star-rating" data-skill="fuerza_cuerpo">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="fuerza_cuerpo" value="{{ player.fuerza_cuerpo }}">
                            </div>
                        </div>
                        <div class="skill-entry">
                            <label>Visión:</label>
                            <div class="star-rating" data-skill="vision">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                                <input type="hidden" name="vision" value="{{ player.vision }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" id="submitBtn">Armar Equipos</button>
        <button type="button" onclick="addPlayer()">Agregar jugador</button>
        <button type="button" id="toggle-select-button" onclick="toggleSelectPlayers()">Seleccionar a todos</button>
    </form>
    <button class="reset-button" type="button" onclick="reset()">Borrar a todos</button>
    <br>
    <a href="/logout" class="logout-link">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
    </a>

    {% if teams %}
        <p>Diferencia mínima entre equipos: {{ min_difference_total }}</p>
        <p>Mejores combinaciones posibles: {{ len_teams // 2 }}</p>
        <hr>
        {% for i in range(0, len_teams - 1, 2) %}
        {% if len_teams > 2 %}
            <p>Opción {{ i // 2 + 1 }}</p>
        {% endif %}
            <div id="popup" class="popup">
                <div class="popup-content">
                <h2>Nueva Funcionalidad Disponible</h2>
                <p>
                    Ahora podés intercambiar jugadores entre equipos usando el botón
                    <button type="button" class="swap-button"><i class="fa-solid fa-right-left"></i></button>
                    y ver las nuevas estadísticas de cada equipo.
                </p>
                <p>Para restaurar la disposición óptima de los equipos, volvé a tocar el botón "Armar Equipos".</p>
                <button id="closeButton">Cerrar</button>
                </div>
            </div>
            <div class="team-container" id="resultados-equipos{{ i // 2 + 1 }}">
                <div class="team">
                    <h2>Equipo 1</h2>
                    <ul class="team-list" data-index="{{ i }}">
                        {% for player in teams[i][0] %}
                        <li class="player-item">
                            <span class="player-name">{{ player }}</span>
                            <button type="button" class="swap-button" onclick="swapPlayer('{{ player }}', '{{ i }}', '{{ i + 1 }}')"><i class="fa-solid fa-right-left"></i></button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            
                <div class="team">
                    <h2>Equipo 2</h2>
                    <ul class="team-list" data-index="{{ i + 1 }}">
                        {% for player in teams[i + 1][0] %}
                        <li class="player-item">
                            <span class="player-name">{{ player }}</span>
                            <button type="button" class="swap-button" onclick="swapPlayer('{{ player }}', '{{ i + 1 }}', '{{ i }}')"><i class="fa-solid fa-right-left"></i></button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="stats-container">
                    <div class="button-container">
                        <button type="button" onclick="toggleStats(this)">
                            <i class="fas fa-chart-bar" style="padding-right: 5px;"></i>
                            <span>Mostrar detalles</span>
                        </button>
                        <button type="button" id="shareButton{{ i // 2 + 1 }}" onclick="compartirEquipos(this)">
                            <i class="fas fa-share" style="padding-right: 5px;"></i> Enviar equipos
                        </button>
                    </div>
                    <div class="content-container" id="content-container{{ i // 2 + 1 }}" style="display: none;">
                        <div class="table-container">
                            <table id="skills-table{{ i // 2 + 1 }}">
                                <thead>
                                    <tr>
                                        <th>Habilidad</th>
                                        <th>Equipo 1</th>
                                        <th>Equipo 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in skills.items() %}
                                    <tr>
                                        <td>{{ value }}</td>
                                        <td>{{ teams[i][1][0][key]["total"] }}</td>
                                        <td>{{ teams[i + 1][1][0][key]["total"] }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Total</td>
                                        <td>{{ teams[i][1][1] }}</td>
                                        <td>{{ teams[i + 1][1][1] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="chart-container">
                            <canvas></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}

    <div id="floating-button">
        <i class="fa-solid fa-list-check" style="font-size: 20px;"></i>
        <span id="selected-count" class="badge">0</span>
        <div id="selected-players-list" class="hidden">
            <ul id="selected-players-ul"></ul>
        </div>
    </div>

    <button type="button" id="scroll-button" onclick="scrollToSubmit()">
        <i class="fa-solid fa-circle-down"></i>
    </button>
    </div>
    <footer class="footer">
        <div class="footer-links">
            <a class="footer-link" href="https://form.typeform.com/to/FJzZpDL4" target="_blank" rel="noopener noreferrer"><i class="fa-regular fa-comment"></i></a>
            <a class="footer-link" href="https://www.linkedin.com/in/fedecarboni7/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            <a class="footer-link" href="https://github.com/fedecarboni7" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        </div>
        <p class="copyright">© 2024 fedecarboni7</p>
    </footer>
</body>
{% if playerDataDict %}
    <script>
        var playerDataDict = '{{ playerDataDict | tojson | safe }}';
        playerDataDict = JSON.parse(playerDataDict);
    </script>
{% endif %}
</html>
