<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Armar Equipos | Home</title>
	<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon-v1.0/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-v1.0/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-v1.0/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon-v1.0/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header text-light">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								<img class="header-logo-image rotate" src="/static/images/armar-equipos-logo-circle.png" alt="Logo" width="20%">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-center text-light">
				<div class="hero-bg"></div>
				<div class="hero-particles-container">
					<canvas id="hero-particles"></canvas>
				</div>
                <div class="container-sm">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Armar Equipos</h1>
	                        <p class="hero-paragraph">Creá equipos balanceados y disfrutá de partidos más justos, competitivos y parejos.</p>
	                        <div class="hero-cta">
								<a class="button button-primary button-wide-mobile" href="/signup">Creá tu cuenta gratis</a>
							</div>
						</div>
						<div class="mockup-container">
							<div class="mockup-bg">
								<img src="/static/images/iphone-hero-bg.svg" alt="iPhone illustration">
							</div>
							<img class="device-mockup" src="/static/images/iphone-hero.png" alt="iPhone Hero" style="max-width: 296px;">
						</div>
                    </div>
                </div>
            </section>

			<section class="features-extended section">
                <div class="features-extended-inner section-inner">
					<div class="features-extended-wrap">
						<div class="container">
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/static/images/iphone-feature-bg-01.svg" alt="iPhone Feature 01 illustration">
									</div>
									<img class="device-mockup is-revealing" src="/static/images/iphone-feature-01.png" alt="iPhone Feature 01">
								</div>
								<div class="feature-extended-body is-revealing">
									<h3 class="mt-0 mb-16">Creación de Jugadores</h3>
									<p class="m-0">Creá perfiles de jugadores, puntuá sus habilidades y guardalos para usarlos en futuros partidos.</p>
								</div>
							</div>
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/static/images/iphone-feature-bg-02.svg" alt="iPhone Feature 02 illustration">
									</div>
									<img class="device-mockup is-revealing" src="/static/images/iphone-feature-02.png" alt="iPhone Feature 02">
								</div>
								<div class="feature-extended-body is-revealing">
									<h3 class="mt-0 mb-16">Composición de Equipos</h3>
									<p class="m-0">Nuestro algoritmo sugiere equipos óptimos basados en las habilidades de los jugadores.</p>
								</div>
							</div>
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/static/images/iphone-feature-bg-03.svg" alt="iPhone Feature 03 illustration">
									</div>
									<img class="device-mockup is-revealing" src="/static/images/iphone-feature-03.png" alt="iPhone Feature 03">
								</div>
								<div class="feature-extended-body is-revealing">
									<h3 class="mt-0 mb-16">Visualización de Habilidades</h3>
									<p class="m-0">Compará habilidades con gráficos y tablas para evaluar rápidamente fortalezas y debilidades.</p>
								</div>
							</div>
						</div>
					</div>
                </div>
            </section>
        </main>

		<footer class="site-footer">
			<div class="footer-particles-container">
				<canvas id="footer-particles"></canvas>
			</div>
			<div class="site-footer-top">
				<section class="cta section text-light">
					<div class="container-sm">
						<div class="cta-inner section-inner">
							<div class="cta-header text-center">
								<h2 class="section-title mt-0">Mejorá tus Equipos</h2>
								<p class="section-paragraph">Optimizá la composición de tus equipos y aumentá su rendimiento con nuestra app. Ahorrá tiempo y formá equipos de manera justa y objetiva.</p>
								<div class="cta-cta">
									<a class="button button-primary button-wide-mobile" href="/login">Ingresá ahora</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="site-footer-bottom">
				<div class="container">
					<div class="site-footer-inner">
						<div class="brand footer-brand">
							<a href="#">
								<img src="/static/images/armar-equipos-logo-circle.png" alt="Logo" width="60px">
							</a>
						</div>
						<ul class="footer-social-links list-reset">
							<li>
								<a href="https://www.linkedin.com/in/fedecarboni7/" target="_blank" rel="noopener noreferrer">
									<span class="screen-reader-text">LinkedIn</span>
									<i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/fedecarboni7" target="_blank" rel="noopener noreferrer">
									<span class="screen-reader-text">GitHub</span>
									<i class="fa-brands fa-github fa-lg" style="color: #ffffff;"></i>
								</a>
							</li>
							<li>
								<a href="https://x.com/fedecarboni7" target="_blank" rel="noopener noreferrer">
									<span class="screen-reader-text">Twitter</span>
									<i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff;"></i>
								</a>
							</li>
						</ul>
					</div>
					<div style="text-align: center; margin-bottom: 20px; margin-top: -50px;">
						<i class="fas fa-code"></i> with ❤️ by fedecarboni7
					</div>
				</div>
			</div>
        </footer>
    </div>

    <script src="/static/js/main.min.js"></script>
</body>
</html>
