<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Armar Equipos</title>
    <link rel="stylesheet" type="text/css" href="../static/daisyui.min.css" />
    <!-- <script src="../static/tailwindcss.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="justify-center flex h-screen items-center">
    <div
      class="card bg-neutral text-neutral-content sm:w-96 w-full max-w-96 h-fit m-4">
      <div class="p-4 rounded-lg shadow-md border-primary">
        <h1 class="text-2xl font-bold text-center">Iniciar sesión</h1>
        <br />
        <form action="/login" method="POST" class="mt-4 flex flex-col gap-2">
          <label
            class="input input-bordered flex items-center gap-2"
            for="username">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
            <input
              type="text"
              class="grow"
              placeholder="Username"
              name="username"
              required />
          </label>
          <label
            class="input input-bordered flex items-center gap-2"
            for="password">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
            </svg>
            <input
              type="password"
              class="grow"
              value="password"
              name="password"
              required />
          </label>
          <br />
          <button type="submit" class="btn btn-primary w-full">
            Iniciar sesión
          </button>
        </form>
        <!-- Signup link -->
        <div class="mt-4 text-center">
          <a href="/signup" class="link link-primary">Crear cuenta</a>
        </div>
      </div>
    </div>
  </body>
</html>
